@import "./base/bootstrap.scss";
@import "./base/bootstrap-extended.scss";
@import "./base/colors.scss";
@import "./base/components.scss";

// Themes
@import "./base/themes/dark-layout.scss";
@import "./base/themes/bordered-layout.scss";
@import "./base/themes/semi-dark-layout.scss";
// @import './base/custom-rtl.scss';

// React Specific
@import "react/index";

* {
  background-color: transparent !important;
}
span,
div {
  font-size: 18px;
  color: #fff !important;
}
.react-dataTable {
  width: 100% !important;
  overflow-x: hidden !important;
  #column-full_name {
    width: 1200px !important;
  }
}
.kt1 {
  position: relative;
  left: -12px;
  top: -12px;
}
.kt2,
.kt3 {
  display: none;
}
// colors
$white: #fff;
$gray: #818181;
$primary: #2bb1ff;
$border: #292929;
$blue: #89d3db;
$gold: #f27318;
.c-white {
  color: $white;
}
.c-gray {
  color: $gray;
}
.c-primary {
  color: $primary;
}
.c-border {
  color: $border;
}
.c-bg-border {
  background-color: $border;
}
.c-blue {
  color: $blue;
}
.c-gold {
  color: $gold;
}
// typography
@font-face {
  font-family: luckiestguy;
  src: url("../../assets/fonts/luckiestguy.ttf");
}
.c-h1 {
  font-size: 105px;
  line-height: 84px;
  font-family: luckiestguy;
}
.c-h2 {
  font-size: 64px;
  line-height: 28px;
  font-family: luckiestguy;
}
.c-h3 {
  font-size: 46px;
  line-height: 44px;
  font-family: luckiestguy;
}
.c-h4 {
  font-size: 42px;
  line-height: 24px;
  font-family: luckiestguy;
}
.c-p {
  font-size: 32px;
  line-height: 24px;
  font-family: luckiestguy;
}

//pressets
* {
  margin: 0;
  padding: 0;
  font-family: luckiestguy !important;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.container-fluid {
  max-width: 1920px !important;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: $blue;
}

// buttons
.c-buttons {
  .btn {
    margin-right: 22px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.btn {
  transition: 0.4s all;
}
.c-btn-primary {
  border: 2px solid $border;
  background-color: transparent !important;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  height: 48px;
  padding-left: 32px !important;
  padding-right: 32px !important;
  img {
    margin-left: 8px;
  }
  &:hover {
    padding-left: 34px !important;
    padding-right: 34px !important;
    color: $white;
    border: 2px solid $gray;
  }
}
.c-btn-disabled {
  border: 2px solid $border;
  background-color: transparent !important;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  height: 48px;
  padding-left: 32px !important;
  padding-right: 32px !important;
  img {
    margin-left: 8px;
  }
  &:hover {
    color: $gray;
  }
}
.c-circle {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: 0.4s all;
  &:hover {
    background-color: $primary;
  }
}

// spacing
.mr-12 {
  margin-right: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.c-no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.topdog-image {
  width: 148px;
  margin-bottom: 24px;
  position: relative;
  left: -32px;
}
.main {
  width: 100%;
  height: 2632px;
  background-size: cover;
  background-position: center;
  .main-header {
    height: 1280px;
  }
  .dogImg {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .header-title {
    position: absolute;
    top: 660px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .scroll {
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    cursor: pointer;
  }
  .main-content {
    padding-top: 124px;
    padding-left: 220px;
    .stats {
      margin-bottom: 48px;
    }
    .rankings {
      width: 60%;
      overflow-x: auto;
      margin-top: 140px;
      padding-top: 24px;
      .rankings-header {
        text-align: center;
        p {
          margin-bottom: 84px;
        }
      }
      .rankings-content {
        .item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-align: left;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .react-dataTable {
    overflow-x: auto !important;
    #column-full_name {
      width: 500px !important;
    }
  }
  .c-h1 {
    font-size: 64px;
    line-height: 84px;
    font-family: luckiestguy;
  }
  .c-h2 {
    font-size: 32px;
    line-height: 28px;
    font-family: luckiestguy;
  }
  .c-h3 {
    font-size: 24px;
    line-height: 44px;
    font-family: luckiestguy;
  }
  .c-h4 {
    font-size: 20px;
    line-height: 24px;
    font-family: luckiestguy;
  }
  .c-p {
    font-size: 14px;
    line-height: 24px;
    font-family: luckiestguy;
  }
  .main-content {
    padding-left: 16px !important;
  }
}
@media (max-width: 1600px) {
  .main {
    .main-header {
      height: 1080px;
    }
    .header-title {
      position: absolute;
      top: 540px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    .main-content {
      padding-left: 64px;
    }
  }
}
@media (min-width: 1600px) {
  .main {
    height: 3232px;
    .dogImg {
      position: absolute;
      top: 160px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
}
